
  .requireError {
    position: absolute;
    z-index: 1;
    color: #D11D1F;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Segoe UI';
    font-weight: 600;
}

.logo{
  font-family: 'Segoe UI';
  font-weight: bold;
  display: inline-block;
  color: white;
 
  font-size: 25px;
  float: left;
  width: 15%;
  padding: 10px;
}
header{
  border-bottom: 1px solid;
  border-bottom-color: lightgray;
  height : 50px;
}
.dropdowncontiner2{
  display: inline-block;
  width: 30% ;
}
.main-container{width:100%;
height:100%}


.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}